* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  line-height: 22px;
  font-size: 14px;
}
body {
  font-family: "Roboto Mono", monospace;
}

.main-bg {
  background-image:linear-gradient(to right, rgba(59, 51, 51, 0.459), rgba(87, 78, 78, 0.829)), url(./images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.main-container {
  padding: 200px;
  text-align: center;
}
.main-container h1 {
  padding: 0 80px;
  font-size: 50px;
  color: aliceblue;
  margin: 5px;
}
.main-container p {
  color: aliceblue;
  padding: 0 120px;
  margin: 5px;
}
.btn-lg {
  display: inline-block;
  margin: 1rem 0;
  padding: 15px 30px;
  background: rgba(216, 62, 5, 0.822);
  border: none;
  border-radius: 4%;
}
.btn-lg .link-btn {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
}
/****header-section-end****/
.dnt-section {
  background-color: rgba(248, 245, 245, 0.925);
}
.dnt-container {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.dnt-container h2 {
  font-size: 35px;
  font-weight: 900;
}
.dnt-container p {
  color: rgb(138, 138, 138);
}
.mnt-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.mnt-b {
  margin: 10px 0;
  padding: 20px;
  font-size: 25px;
  color: rgb(126, 123, 123);
}
.mnt-b:nth-child(2) {
  border: 2px solid rgb(199, 25, 25);
  border-radius: 5px;
  color: rgb(245, 27, 27);
}
.mnt-input {
  text-align: center;
  width: 80%;
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
.mnt-input:focus {
  outline: none;
}
/**dtn-section-end**/
.dp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.dp-section h2 {
  font-size: 40px;
  margin: 10px 0;
}
.dp-section p {
  margin: 10px 0;
  color: rgb(126, 126, 126);
}
.dp-section .col-10 {
  width: 40%;
  text-align: center;
}
.card-rw {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}
.card-ml {
  width: 22%;
  background-color: rgba(235, 93, 93, 0.13);
  box-shadow: 10px 10px 40px rgba(79, 128, 128, 0.158);
}
.card-ml p {
  color: rgb(122, 122, 122);
}
.card-ml img {
  width: 40px;
  margin: 10px;
}
.card-ml:nth-child(2) {
  background-color: rgba(0, 255, 255, 0.116);
}
.card-ml:nth-child(3) {
  background-color: rgba(0, 4, 255, 0.096);
}
/**dp-section-end**/
.article-container {
  display: flex;
  text-align: left;
  padding: 70px 100px;
}
.article-tx {
  padding: 20px;
}
.article-tx h2 {
  font-size: 40px;
  width: 60%;
}
.article-tx p {
  width: 80%;
  margin: 1rem 0;
  color: rgb(117, 117, 117);
}
.img-sm {
  width: 40%;
  height: 400px;
  border-radius: 2%;
}
.article-td {
  margin-top: 40px;
  margin-left: 40px;
}
.article-td p {
  margin: 20px 0;
  color: rgb(119, 119, 119);
}

/***article section end***/
.subs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 200px;
}
.subs-container p {
  width: 85%;
  padding: 40px;
  color: rgb(110, 110, 110);
}

.subs-box {
  width: 100%;
  padding: 100px;
  background-color: rgba(230, 226, 20, 0.253);
}
.subs-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-lg {
  padding: 10px;
  width: 40%;
  height: 50px;
}
.input-lg:focus {
  outline: none;
}
/***sub-section end***/
footer {
  background-color: black;
  padding: 48px;
  text-align: center;
}
footer h3 {
  color: rgba(220, 20, 60, 0.904);
  font-size: 30px;
  margin: 18px 0;
}
footer p {
  color: rgb(112, 112, 112);
  margin: 5px 0;
}
