* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  letter-spacing: 1px;
  line-height: 25px;
}
body {
  font-family: "Roboto Mono", monospace;
}

.main-bg {
  background-image: url(/images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.main-container {
  padding: 200px;
  text-align: center;
}
.main-container h1 {
  padding: 0 80px;
  font-size: 50px;
  color: aliceblue;
  margin: 5px;
}
.main-container p {
  color: aliceblue;
  padding: 0 120px;
  margin: 5px;
}
.btn-lg {
  display: inline-block;
  margin: 1rem;
  padding: 15px 30px;
  background: rgba(216, 62, 5, 0.822);
  border: none;
  border-radius: 4%;
}
.btn-lg .link-btn {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
}
/****header-section-end****/
.dnt-section {
  background-color: rgba(248, 245, 245, 0.925);
}
.dnt-container {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.dnt-container h2 {
  font-size: 40px;
}
.mnt-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.mnt-b {
  margin: 10px 0;
  padding: 20px;
  font-size: 25px;
  color: gray;
}

.mnt-input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove tranparent;
}
.mnt-input:focus {
  outline: none;
}
/**dtn-section-end**/
.dp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.dp-section h2 {
  font-size: 40px;
  margin: 10px 0;
}
.dp-section p {
  margin: 10px 0;
}
.dp-section .col-10 {
  width: 40%;
  text-align: center;
}
.card-rw {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}
.card-ml {
  width: 22%;
  background-color: rgba(235, 93, 93, 0.068);
  box-shadow: 10px 10px 40px rgba(169, 170, 170, 0.158);
}
.card-ml img {
  width: 40px;
}
/**dp-section-end**/
.article-container {
  display: flex;
  text-align: left;
  padding: 70px 100px;
}
.article-tx {
  margin-left: 40px;
}
.article-tx h2 {
  font-size: 40px;
  width: 60%;
}
.article-tx p {
  width: 80%;
  margin: 1rem 0;
  color: gray;
}

.img-sm {
  width: 40%;
  height: 400px;
  border-radius: 2%;
}
/***article section end***/
.subs-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  padding: 100px 200px;
}
.subs-container p {
  width: 85%;
  padding: 40px;
}

.subs-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 100px;

  background-color: rgba(230, 226, 20, 0.253);
}

.input-lg {
  padding: 10px;
  width: 40%;
  height: 50px;
}

/**sub-section end***/
footer {
  background-color: black;
  padding: 50px;
  text-align: center;
}
footer h3 {
  color: rgba(220, 20, 60, 0.904);
  font-size: 30px;
  margin: 18px 0;
}
footer p {
  color: gray;
  margin: 5px 0;
}
